body{
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
}

.ui.container{
    margin-top: '7em';
}
.main-header{
    background-image:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url('../../../public/assets/bg-image1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative; 
}

.main-header::before{
    background-color: rgba(0,0,0,0.7);
}